<h1 class="text-center my-5">コメント一覧</h1>

<% if @comments.present? %>
  <div class="d-flex justify-content-center">
    <div class="table-responsive" style="max-width: 1100px; width: 100%;">
      <%= render partial: "admin/comments/comment_table", locals: { comments: @comments } %>
    </div>
  </div>
<% else %>
  <p class="text-center">コメントはまだありません。</p>
<% end %>
