<% if resource&.errors&.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="mx-auto text-center" style="max-width: 600px;">

    <% ordered_keys =
      case controller_name
      when 'posts'
        [
          :images,
          :title,
          :body,
          :prefecture_id,
          :location_genre_id,
          :location_name,
          :address,
          :visited_month_id,
          :visited_time_zone_id
        ]
      when 'registrations'
        [
          :last_name,
          :first_name,
          :last_name_kana,
          :first_name_kana,
          :nickname,
          :email,
          :password,
          :password_confirmation,
          :phone_number,
          :prefecture_id
        ]
      when 'sessions'
        [
          :base,
          :email,
          :password
        ]
      else
        []
      end
    %>

    <% base_messages = resource.errors[:base].uniq %>
    <% ordered_messages = ordered_keys.reject { |k| k == :base }.flat_map { |key| resource.errors.full_messages_for(key) } %>
    <% remaining_messages = resource.errors.full_messages - ordered_messages - base_messages %>

    <!-- エラー本文のみ表示、点なし、中央揃え -->
    <ul style="list-style: none; padding-left: 0;">
      <% (base_messages + ordered_messages + remaining_messages).each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    
  </div>
<% end %>
