<% if resource&.errors&.any? %>
  <!-- バリデーションエラーがある場合に表示 -->
  <div id="error_explanation" data-turbo-cache="false" class="mx-auto text-center" style="max-width: 600px;">

    <% ordered_keys =
      case controller_name
      when 'posts'
        # 投稿フォームの項目順にエラーを並べる
        [
          :images,
          :title,
          :body,
          :prefecture_id,
          :location_genre_id,
          :location_name,
          :address,
          :visited_month_id,
          :visited_time_zone_id
        ]
      when 'registrations'
        # 新規会員登録の項目順
        [
          :last_name,
          :first_name,
          :last_name_kana,
          :first_name_kana,
          :nickname,
          :email,
          :password,
          :password_confirmation,
          :phone_number,
          :prefecture_id
        ]
      when 'sessions'
        # ログイン時のエラー順
        [
          :base,
          :email,
          :password
        ]
      else
        [] # その他のコントローラでは順序指定なし
      end
    %>

    <% base_messages = resource.errors[:base].uniq %> 
    <!-- :base は全体に関するエラー -->

    <% ordered_messages = ordered_keys.reject { |k| k == :base }
                                      .flat_map { |key| resource.errors.full_messages_for(key) } %>
    <!-- 上で定義した順序に従ってエラーメッセージを並べる -->

    <% remaining_messages = resource.errors.full_messages - ordered_messages - base_messages %>
    <!-- 順序未指定の残りのエラーメッセージ -->

    <!-- エラーメッセージをリスト表示（・なし／中央揃え） -->
    <ul style="list-style: none; padding-left: 0;">
      <% (base_messages + ordered_messages + remaining_messages).each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  </div>
<% end %>
