<div class="d-flex justify-content-end gap-2 mb-3">
  <%= link_to '新着順',
              url_for(params.to_unsafe_h.merge(sort: 'new', page: nil)),
              class: "custom-outline-btn #{'active' if params[:sort] == 'new' || params[:sort].blank?}" %>

  <%= link_to 'コメント数順',
              url_for(params.to_unsafe_h.merge(sort: 'comments', page: nil)),
              class: "custom-outline-btn #{'active' if params[:sort] == 'comments'}" %>

  <%= link_to '閲覧数順',
              url_for(params.to_unsafe_h.merge(sort: 'views', page: nil)),
              class: "custom-outline-btn #{'active' if params[:sort] == 'views'}" %>

  <%= link_to 'いいね数順',
              url_for(params.to_unsafe_h.merge(sort: 'likes', page: nil)),
              class: "custom-outline-btn #{'active' if params[:sort] == 'likes'}" %>
</div>
