<h1 class="text-center mt-5 mb-4">投稿の編集</h1>

<%= render 'form', post: @post %>

<div class="text-center mt-4 mb-5">
  <%= link_to '投稿詳細ページへ戻る', post_path(@post), class: "custom-outline-btn" %>
</div>

<%= javascript_pack_tag 'address_autocomplete', 'data-turbolinks-track': 'reload' %>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['Maps_API_Key'] %>&libraries=places"></script>