<div class="container py-5">

  <h1 class="text-center mb-4">投稿の編集</h1>

  <!-- 投稿フォームから読み込み -->
  <%= render 'form', post: @post %>

  <!-- 投稿詳細ページへ戻るボタン -->
  <div class="text-center mt-4">
    <%= link_to '投稿詳細ページへ戻る', post_path(@post), class: "custom-outline-btn" %>
  </div>

</div>

<!-- 住所入力補完用のJavaScriptとGoogle Maps APIの読み込み -->
<%= javascript_pack_tag 'address_autocomplete', 'data-turbolinks-track': 'reload' %>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['Maps_API_Key'] %>&libraries=places"></script>
