<h1 class="text-center mt-5 mb-4">フォローしている人の投稿一覧</h1>

<% if @posts.any? %>
  <div class="container">
    <div class="row">
      <%= render partial: 'public/posts/post_card', collection: @posts, as: :post, locals: { from: 'follow_feed', genre_id: nil } %>
    </div>
  </div>
<% else %>
  <p class="text-center">フォローしている人の投稿はまだありません。</p>
<% end %>

<div class="text-center mt-5 mb-5">
  <%= link_to 'マイページへ戻る', my_page_user_path(current_user), class: 'custom-outline-btn' %>
</div>
