<h1 class="text-center mt-3 mb-3">投稿一覧</h1>

<% if @posts.any? %>
  <%= render 'public/posts/sort_links' %>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <%= render partial: "public/posts/post_card", collection: @posts, as: :post, locals: { from: 'index', genre_id: nil } %>
  </div>

  <div class="d-flex justify-content-center my-4">
    <%= paginate @posts %>
  </div>
<% else %>
  <p class="text-center mt-5">投稿がまだありません。</p>
<% end %>
