<h1 class="text-center mt-3 mb-3">投稿一覧</h1>

<% if @posts.any? %>
  <div class="row">
    <%= render partial: "public/posts/post_card", collection: @posts, as: :post %>
  </div>
<% else %>
  <p class="text-center mt-5">投稿がまだありません。</p>
<% end %>