<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <div class="card shadow-sm">
        <div class="card-body">
          <h1 class="card-title text-center mb-4">マスターデータ管理メニュー</h1>

          <div class="d-grid gap-3">
            <%= link_to "都道府県の管理", admin_edit_prefectures_path, class: "custom-green-btn w-100 text-center py-2" %>
            <%= link_to "場所ジャンルの管理", admin_edit_location_genres_path, class: "custom-green-btn w-100 text-center py-2" %>
            <%= link_to "訪問月の管理", admin_edit_visited_months_path, class: "custom-green-btn w-100 text-center py-2" %>
            <%= link_to "訪問時間帯の管理", admin_edit_visited_time_zones_path, class: "custom-green-btn w-100 text-center py-2" %>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
