<h1>マスターデータ管理メニュー</h1>
<ul class="list-group">
  <li class="list-group-item">
    <%= link_to "都道府県の管理", admin_edit_prefectures_path, class: "btn btn-outline-primary w-100" %>
  </li>
  <li class="list-group-item">
    <%= link_to "場所ジャンルの管理", admin_edit_location_genres_path, class: "btn btn-outline-primary w-100" %>
  </li>
  <li class="list-group-item">
    <%= link_to "訪問月の管理", admin_edit_visited_months_path, class: "btn btn-outline-primary w-100" %>
  </li>
  <li class="list-group-item">
    <%= link_to "訪問時間帯の管理", admin_edit_visited_time_zones_path, class: "btn btn-outline-primary w-100" %>
  </li>
</ul>
