<% if current_user.guest_user? %>
  <p class="text-secondary small">
    ※フォローするには、
    <%= link_to "新規登録", destroy_user_session_path + "?redirect_to=sign_up",
        method: :delete,
        data: { confirm: "ゲストユーザーをログアウトして新規登録画面へ移動します。よろしいですか？" },
        class: "text-decoration-underline" %> または
    <%= link_to "ログイン", destroy_user_session_path + "?redirect_to=login",
        method: :delete,
        data: { confirm: "ゲストユーザーをログアウトしてログイン画面へ移動します。よろしいですか？" },
        class: "text-decoration-underline" %>
    が必要です。
  </p>
<% else %>
  <% if current_user.following?(user) %>
    <%= button_to 'フォロー解除', user_relationship_path(user), method: :delete, remote: true, class: 'custom-red-btn btn-sm', id: "follow-btn-#{user.id}" %>
  <% else %>
    <%= button_to 'フォローする', user_relationship_path(user), method: :post, remote: true, class: 'custom-green-btn btn-sm', id: "follow-btn-#{user.id}" %>
  <% end %>
<% end %>
