<h1>ニホタビへの想い</h1>

  <p>
    近年、都市部への人口集中や地方の観光客減少が課題となる中、<br>
    SNSの普及により、誰もが情報を発信し、地域の価値を多くの方へ広げられるようになりました。
  </p>

  <p>
    「ニホタビ」は、そんな変化の中で生まれた、<strong>有名な観光地から地元の方しか知らない穴場スポットまでを<br>
    じゆうに投稿・共有できるサービス</strong>です。
  </p>

  <p>
    ガイドブックに載っている定番名所も、地元の方だけが知っている魅力的な場所も、どちらも大切な旅の目的地。<br>
    誰もが投稿者となって、「ここに行ってよかった」と思える場所を、<br>
    写真や言葉で伝えることができます。
  </p>

  <p>
    また、地域に住む方が地元の魅力を発信することで、誇りや愛着を再確認できる場にもなります。
  </p>

  <p>
    投稿を通じて、「行ってみたい」「知れてよかった」と共感が生まれ、<br>
    自然とつながりが広がっていく―――そんな場所になることを願っています。
  </p>

  <p>
    <strong>地域を思う気持ちや旅の楽しさが集まり、誰かの心を動かす投稿が重なっていく。<br>
    そんな優しい循環が生まれる場になったら嬉しいです。</strong>
  </p>

  <%= image_tag 'about1.jpg', size: "500x250" %>
  <%= image_tag 'about2.jpg', size: "500x250" %>
  <%= image_tag 'about3.jpg', size: "500x250" %>
  <%= image_tag 'about4.jpg', size: "500x250" %>