<h1 class="text-center my-5">ユーザー一覧</h1>

<div class="d-flex justify-content-center">
  <div class="table-responsive" style="max-width: 1100px;">
    <% if @users.present? %>
      <%= render partial: "admin/users/user_table", locals: { users: @users } %>
    <% else %>
      <p class="text-center">ユーザーはまだ登録されていません。</p>
    <% end %>
  </div>
</div>
