<h1 class="text-center my-5">投稿一覧</h1>

<% if @posts.present? %>
  <div class="d-flex justify-content-center">
    <div class="table-responsive" style="max-width: 1100px; width: 100%;">
      <%= render partial: "admin/posts/post_table", locals: { posts: @posts } %>
    </div>
  </div>
<% else %>
  <p class="text-center">投稿はまだありません。</p>
<% end %>
