<% if controller_path == 'public/location_genres' && action_name == 'show' %>
  <h1 class="text-center my-4"><%= @location_genre.name %> の投稿一覧</h1>

  <% if @posts.present? %>
    <div class="row">
      <%= render partial: "public/posts/post_card", collection: @posts, as: :post %>
    </div>
  <% else %>
    <p class="text-center">このジャンルの投稿はまだありません。</p>
  <% end %>
<% end %>
