<% if resource&.errors&.any? %>
  <div class="mx-auto text-center" style="max-width: 600px;">
    <ul style="list-style: none; padding-left: 0;">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
