<div class="d-flex justify-content-end gap-2 mb-3">
  <%= link_to '新着順',
              url_for(params.merge(sort: 'new', page: nil)),
              class: "btn btn-outline-secondary #{'active' if params[:sort] == 'new' || params[:sort].blank?}" %>

  <%= link_to '名前順',
              url_for(params.merge(sort: 'name', page: nil)),
              class: "btn btn-outline-secondary #{'active' if params[:sort] == 'name'}" %>
</div>
