<% if @users.any? %>
  <!-- 並び替えボタン -->
  <div class="d-flex justify-content-center gap-2 mb-3">
    
    <!-- 新着順ボタン -->
    <%= link_to '新着順',
                url_for(params.to_unsafe_h.merge(sort: 'new', page: nil)),
                class: "custom-outline-btn #{'active' if params[:sort] == 'new' || params[:sort].blank?}" %>

    <!-- ニックネーム順ボタン -->
    <%= link_to 'ニックネーム順',
                url_for(params.to_unsafe_h.merge(sort: 'name', page: nil)),
                class: "custom-outline-btn #{'active' if params[:sort] == 'name'}" %>

  </div>
<% end %>
