<footer style="background-color: #eaf1ec;" class="text-center py-4 border-top">
  <div class="container">
    <p class="mb-1 fw-semibold" style="color: #2e6044;">
      あなたの旅が、誰かのきっかけに。
    </p>

    <small style="color: #2e6044;">
      &copy; 2025 ニホタビ | 旅と地域の魅力をつなぐSNS
    </small>

    <div class="mt-2 mb-0 d-flex justify-content-center gap-4">
      <% if user_signed_in? %>
        <%= link_to 'お問い合わせ', new_inquiry_path, class: 'text-decoration-none fw-semibold', style: 'color: #2e6044;' %>
      <% end %>
      <%= link_to '利用規約', term_path, class: 'text-decoration-none fw-semibold', style: 'color: #2e6044;' %>
    </div>
  </div>
</footer>
